body {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
}

.logo {
    background-position: 50% 3px;
    background-size: 35%;
    background-repeat: no-repeat;
    background-image: url('/images/logo.png');
}

.main-header h1 {
    float: left;
    font-size: 20px;
    margin: 14px;
    color: white;
}

.error-message {
    color: red;
}

b, strong, th {
    font-weight: 500;
}

.fa-trash {
    color: rgb(214, 34, 34)
}

.fa-edit {
    color: rgb(11, 184, 11);
    cursor: pointer;
}

label {
    font-weight: 500;
    margin-bottom: 0;
}

.btn-sm {
    padding: 4px 10px;
}

.form-control {
    height: 27px;
    padding: 5px;
    font-size: 12px;
}

.form-group {
    margin-bottom: 10px;
}

.content-wrapper {
    min-height: 1000px;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
}

.button-inline {
    margin-top: 17px;
}

.box-body {
    padding: 15px;
}

.page-size {
    display: inline-block;
    width: auto;
    margin: 20px auto;
}

.table-scroll {
    overflow-x: auto;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px;
}

.mr-5px {
    margin-right: 5px;
}

.mt-15px{
    margin-top: 15px;
}

.ml-5px {
    margin-left: 5px;
}

.ReactModal__Overlay {
    z-index: 9000;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
    padding: 15px !important;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
}

.Select-control:hover {
    box-shadow: none;
}

.Select.is-focused:not(.is-open)>.Select-control {
    box-shadow: none;
    background: #fff;
}

.Select-control {
    height: 27px;
    border-radius: 0;
}

.Select-input {
    height: 25px;
}

.Select-placeholder, .Select--single>.Select-control .Select-value {
    line-height: 25px;
}

.Select-input>input {
    padding: 4px 0 4px;
}

.treeview-menu {
    padding-left: 10px;
}

.menu-open .treeview-menu {
    display: block;
}

.skin-blue-light .sidebar-menu>li>.treeview-menu {
    background: none;
}

.skin-blue-light .sidebar-menu>li:hover>a {
    background: none;
}

.has-feedback label~.form-control-feedback {
    top: 19px;
}

.form-control-feedback {
    width: 30px;
    height: 25px;
    line-height: 26px;
}

.progress-bar-default {
    background: none;
    color: #000;
}

.text-red {
    color: red;
}